/* ffont family import  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Work Sans', sans-serif;
   max-width: 100%;
   max-height: 100%
}

container {
   max-width: 1250px;
   width: 100%;
   margin: 0 auto;
   padding: 0 25px;
}

.container {
   max-width: 1250;
   width: 100%;
   background: rgba(255, 144, 14, 0.1);
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 0 auto;
   /* margin-bottom: 10px; */
}

/* navbar style here */
nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 50px;
   max-width: 1100px;
   width: 100%;
   height: 90px;
   margin: 0 auto;
}

nav>h1 {
   color: #131313;
   font-weight: 700;
   font-size: 45px;
}

nav>ul {
   display: flex;
   list-style: none;
   gap: 40px;
}

nav>ul>li {
   color: #424242;
   font-weight: 500;
   font-size: 18px;

}



.section-title {
   text-align: center;
   color: #131313;
   margin-top: 100px;
   margin-bottom: 30px;
   width: 862px;
   height: 225px;

}

.section-subtitle {
   font-weight: 600;
   font-size: 60px;
   text-align: center;
   color: #131313;

}

.section-text {
   font-weight: 400;
   font-size: 16px;
   text-align: center;
   margin-top: 10px;
}

.btn-primary {
   text-align: center;
   margin-bottom: 50px;
}

.btn-text {

   padding: 20px 25px;
   border-radius: 5px;
   color: #ffff;
   border: none;
   background-color: #FF900E;
}

.container .banner img {
   width: 900px;
   height: 500px;
   border-radius: 8px;
   margin-bottom: 40px;
}

/* feature section style  */

.second-container {
   display: flex;
   align-items: center;
   max-width: 1250px;
   width: 100%;
   margin: 0 auto;
   padding: 0 25px;
   /* flex-wrap: wrap; */
}

.images-section {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 20px;
   padding: 4rem;
   border-radius: 8px;
}

.images-section img {
   width: 250px;
   height: 250px;
}

.feature-section {
   display: flex;
   flex-direction: column;
   padding: 1em;

}

.feature-title .text-color1 {
   color: #991e1e;
}

.feature-title .text-color2 {
   color: #FF900E;
}

.feature-text {
   size: 16px;
   height: 26px;
   color: #727272;
   margin-top: 15px;
}

.feature-section .btn-primary2 {
   margin-top: 100px;
   margin-right: 50px;
}

/* feature love and enjoy style  */
.third-container {
   width: 100%;
   max-width: 1250px;
   margin: 0 auto;
   padding: 0 25px;
   flex-wrap: wrap;
}


.feature-contain-section {

   margin-top: 270px;
}

.experience-section-title {
   box-sizing: border-box;
   width: 100%;
   padding: 2px;
   box-shadow: 10px 5px 5px rgb(226, 213, 213);
}

.feature-main-title {
   font-weight: 700;
   font-size: 45px;
   color: #131313;
   margin-bottom: 15px;
}

.feature-enjoy-title {
   font-weight: 600;
   font-size: 20px;
   color: #131313;
   margin: 10px 0;
}

.feature-enjoy-subtitle {
   color: #727272;
   font-weight: 400;
   font-size: 16px;
}

.third-container {
   max-width: 1250px;
   width: 100%;
   margin: 0 auto;
   padding: 0 25px;
   flex-wrap: wrap;
}

.feature-enjoy {
   display: flex;
   align-items: center;
   gap: 20px;
   margin-left: 80px;

}

.btn-primary3 {
   margin-top: auto;
   position: absolute;
   margin-bottom: 800px;
   margin-left: 30px;
}

.btn-text3 {
   padding: 20px 25px;
   border-radius: 5px;
   color: #ffff;
   border: none;
   background-color: #FF900E;
   width: 300px;
   height: 150px;
   font-weight: 500;
   font-size: 40px;

}

.feature-contain-section .btn-primary3 .bt-text3 .text {
   background-color: #991e1e;
}

/* forth section style here  */

.forth-container {
   max-width: 1250px;
   width: 100%;
   margin: 0 auto;
   padding: 0 25px;
   flex-wrap: wrap;
}

.forth-section {
   margin-left: 70px;
   margin-top: 110px;
}

.forth-section-title {
   font-weight: 700;
   font-size: 45px;
   color: #131313;

}

.box-section {
   display: flex;
   /* justify-content: space-evenly; */
   margin-top: 90px;
   gap: 65px;
   margin-left: 85px;


}

.box-section .btn-box1 {
   width: 220px;
   height: 220px;
   border: 1px solid #FF900E;
   border-radius: 8px;
   box-sizing: border-box;
   /* border: none; */
   background: #FFFFFF;
   box-shadow: inset 0 0 0 0 #f9e506;
   transition: ease-out 0.25s;
   font-size: 16px;
   outline: none;
}

.box-section .btn-box1:hover {
   box-shadow: inset 220px 0 0 0 #f9e506;
}

.box-section .btn-box1 .box-number {
   font-size: 45px;
   color: #424242;
   font-weight: 600;
}

.box-section .btn-box1 .box1 {
   font-size: 20px;
   color: #727272;
   font-weight: 600;
}

/* sponsors section style  */
.fifth-container {
   max-width: 1250px;
   width: 100%;
   margin-top: 150px;
   text-align: center;
   margin: 0 auto;
}


.sponsor-section {
   margin-top: 100px;


}

.sponsor-title {
   font-weight: 700;
   font-size: 45px;
   color: #131313;
   padding-bottom: 24px;
   text-align: center;

}

.sponsor-subtitle {
   text-align: center;
   font-weight: 400;
   font-size: 16px;
}

.sponsor-banner {
   display: flex;
   filter: grayscale(1);
   justify-content: space-evenly;
   margin-top: 40px;

}


/* Special section style here */

.sixth-container {
   max-width: 1250px;
   width: 100%;
   margin: 0 auto;
   padding: 0 25px;
}

.sixth-section-title {
   font-weight: 600;
   font-size: 45px;
   color: #131313;
}

.special-section img {
   width: 400px;
   height: 350px;

}

/* unique section btn  */

.sixth-container {
   padding: 0 25px;
   width: 100%;
   max-width: 1250px;
   margin-top: 130px;
   flex-wrap: wrap;
}

.sixth-section {
   align-items: center;
   text-align: center;

}

.special-section {
   text-align: center;

}

/* footer section style  */

.footer-section {
   background: #FFF4E7;
   border-radius: 8px;
   max-width: 1250px;
   width: 100%;
   margin: 0 auto;
   padding: 25px 25px;
   margin-bottom: 50px;
   flex-wrap: wrap;

}

.footer-title {
   text-align: center;
   justify-content: center;

}

.footer-title {
   text-align: center;
   padding-top: 45px;
   font-weight: 400;
   font-size: 20px;
   line-height: 23px;
   color: #424242;
}


/*----------------------------- Media query style here -----------------------------------*/

@media only screen and (max-width: 688px) {
   .container {
      width: 100%;
   }

   nav {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .container .banner img {
      width: 100%;
      align-items: center;
   }

   .section-title {
      width: 90%;
      align-items: center;
   }

   /* responsive for second container  */

   .second-container {
      width: 100%;
      display: flex;
      flex-direction: column;
   }

   .images-section {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   .feature-section {
      width: 100%;
      align-items: center;
      margin-bottom: 130px;
   }

   /* responsive for third section */

   .third-container {
      width: 100%;
      flex-wrap: wrap;
   }

   .feature-enjoy {
      display: flex;
      flex-direction: column;
      margin-left: 40px;
      align-items: center;
   }

   .feature-image img {
      width: 500px;
      height: 650px;
      align-items: center;
   }


   /* responsive for forth section  */
   .forth-container {
      width: 100%;
      flex-wrap: wrap;
   }

   .forth-section {
      display: flex;
      flex-direction: column;
      align-items: center;

   }

   .box-section {
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   /* responsive for fifth section  */

   .fifth-container {
      width: 100%;
      flex-wrap: wrap;
   }

   .sponsor-section {
      display: flex;
      flex-direction: column;
   }

   .sponsor-subtitle {
      width: 100%;
      flex-wrap: wrap;
   }

   .sponsor-banner {
      display: flex;
      flex-direction: column;
   }

   /* responsive for sixth section  */

   .sixth-container {
      width: 100%;
   }

   .sixth-section {
      display: flex;
      flex-direction: column;

   }

   /* responsive for footer section  */
   .footer-section {
      width: 100%;
      display: flex;
      flex-direction: column;
   }


}