/* ffont family import  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Work Sans', sans-serif;
   max-width: 100%;
   max-height: 100%
}

container {
   max-width: 1250px;
   width: 100%;
   margin: 0 auto;
   padding: 0 25px;
}

.container {
   max-width: 1250;
   width: 100%;
   background: rgba(255, 144, 14, 0.1);
   display: flex;
   align-items: center;
   flex-direction: column;
   margin: 0 auto;
   /* margin-bottom: 10px; */
}

/* navbar style here */
nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 50px;
   max-width: 1100px;
   width: 100%;
   height: 90px;
   margin: 0 auto;
}

nav>h1 {
   color: #131313;
   font-weight: 700;
   font-size: 45px;
}

nav>ul {
   display: flex;
   list-style: none;
   gap: 40px;
}

nav>ul>li {
   color: #424242;
   font-weight: 500;
   font-size: 18px;

}



.section-title {
   text-align: center;
   color: #131313;
   margin-top: 100px;
   margin-bottom: 30px;
   width: 862px;
   height: 225px;

}

.section-subtitle {
   font-weight: 700;
   font-size: 64px;
   text-align: center;
   color: #131313;

}

.section-text {
   font-weight: 400;
   font-size: 16px;
   text-align: center;
   margin-top: 10px;
}

.btn-primary {
   text-align: center;
   margin-bottom: 50px;
}

.btn-text {

   padding: 20px 25px;
   border-radius: 5px;
   color: #ffff;
   border: none;
   background-color: #FF900E;
}

.container .banner img {
   width: 900px;
   height: 500px;
   border-radius: 8px;
}

/* feature section style  */

.second-container {

   gap: 73px;
   display: flex;
   align-items: center;
   max-width: 1250px;
   width: 100%;
   margin: 0 auto;
   padding: 0 25px;


}

.images-section {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin-left: 130px;
   gap: 3px;
   text-align: center;
}

.second-container .images-section img {
   width: 250px;
   height: 250px;
}

.feature-section {
   display: flex;
   flex-direction: column;
   Width: 437px;
   Height: 204px;
}

.feature-title .text-color1 {
   color: #991e1e;
}

.feature-title .text-color2 {
   color: #FF900E;
}

.feature-text {
   size: 16px;
   height: 26px;
   color: #727272;
   margin-top: 15px;
}

.feature-section .btn-primary2 {
   margin-top: 100px;
   margin-right: 50px;
}

/* feature love and enjoy style  */
.feature-enjoy {
   /* background-color: #FF900E; */
}

feature-enjoy-title {
   color: #131313;
   Font size: 45px Font style: Bold
}

.feature-enjoy-subtitle {
   color: #727272;
}

.third-container {
   max-width: 1250px;
   width: 100%;
   margin: 0 auto;
   padding: 0 25px;
}

.feature-enjoy {
   display: flex;
   align-items: center;
   gap: 10px;
   margin-left: 80px;

}

.btn-primary3 {
   margin-top: auto;
   position: absolute;
   margin-bottom: 700px;
   margin-left: 30px;
}

.btn-text3 {
   padding: 20px 25px;
   border-radius: 5px;
   color: #ffff;
   border: none;
   background-color: #FF900E;
   width: 320px;
   height: 200px;

}

/* forth secton style here  */
.forth-container {
   max-width: 1250px;
   width: 100%;
   margin: 0 auto;
   padding: 0 25px;
}

.forth-section {
   margin-left: 70px;
}

.forth-section-title {
   font-weight: 700;
   font-size: 45px;
   color: #131313;

}

.box-section {
   display: flex;
   /* justify-content: space-evenly; */
   margin-top: 90px;
   gap: 65px;
   margin-left: 85px;


}

.box-section .btn-box1 {
   width: 220px;
   height: 220px;
   border: 1px solid #FF900E;
   border-radius: 8px;
   box-sizing: border-box;
   /* border: none; */
   background: #FFFFFF;
   box-shadow: inset 0 0 0 0 #f9e506;
   transition: ease-out 0.25s;
   font-size: 16px;
   outline: none;
}

.box-section .btn-box1:hover {
   box-shadow: inset 220px 0 0 0 #f9e506;
}

.box-section .btn-box1 .box-number {
   font-size: 45px;
   color: #424242;
   font-weight: 600;
}

.box-section .btn-box1 .box1 {
   font-size: 20px;
   color: #727272;
   font-weight: 600;
}

/* sponsors section style  */
.fifth-container {
   max-width: 1250px;
   width: 100%;
   margin-top: 150px;
   text-align: center;
   margin: 0 auto;
}


.sponsor-section {
   margin-top: 120px;


}

.sponsor-title {
   /* margin-left: 350px;
   margin-bottom: 20px; */


}

.sponsor-subtitle {
   /* margin-left: 130px; */
}

.sponsor-banner {
   display: flex;

   text-align: center;
   align-items: center;
   background-color: #c0b408;

}

.sponsor-banner .banner-1 {
   filter: grayscale(1);
}


/* Special section style here */

.sixth-container {
   max-width: 1250px;
   width: 100%;
   margin: 0 auto;
   padding: 0 25px;
}

.sixth-section-title {
   font-weight: 600;
   font-size: 45px;
   color: #131313;
}

.special-section img {
   width: 400px;
   height: 350px;

}

/* unique section btn  */

.sixth-container {
   padding: 0 25px;
   width: 100%;
   max-width: 1250px;
   margin-top: 180px;
}

.sixth-container .btn-contact {
   background-color: #d87272;
   font-weight: 600;
   font-size: 20px;
   color: #F15B22;
   border-radius: 6px;
   border: 0;
   padding: 18px 32px;
   justify-content: center;
   border-radius: 3px;
   margin-right: 15px;
}

.sixth-section {
   align-items: center;
   text-align: center;

}

.special-section {
   text-align: center;

}

/* footer section style  */

.footer-section {
   background: #FFF4E7;
   border-radius: 8px;
   max-width: 1250px;
   width: 100%;
   margin: 0 auto;
   padding: 0 25px;
}

.footer-title {
   text-align: center;
   padding-top: 45px;
   font-weight: 400;
   font-size: 20px;
   line-height: 23px;
   color: #424242;
}

/* Media query style here */

@media only screen and (max-width: 688px) {
   .container {
      width: 100%;
   }

   nav {
      display: flex;
      flex-direction: column;
   }

   .container .banner img {
      width: 100%;
   }

   .section-title {
      width: 100%;
   }

   .btn-primary {

      background-color: #c0b408;
   }

   /* .btn-primary .btn-text{
      width: 100%;
      margin-bottom: 20%;
   } */

   .second-container {
      width: 100%;
   }

   .images-section,
   .feature-section,
   .feature-section {
      display: flex;

   }

   .images-section,
   .feature-section,
   .feature-section {
      flex-direction: column;
   }
}